asn1crypto==1.5.1
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
dill==0.3.6
dnslib==0.9.26
dnspython==2.8.0
idna==3.11
localstack==4.11.1
localstack-core==4.11.1
localstack-ext==4.11.1
markdown-it-py==4.0.0
mdurl==0.1.2
packaging==25.0
plux==1.13.0
psutil==7.1.3
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyYAML==6.0.3
langchain==1.0.0
requests==2.32.5
pdfminer.six==20240720
rich==14.2.0
semver==3.0.4
six==1.17.0
tabulate==0.9.0
urllib3==2.5.0
